<?xml version="1.0" encoding="UTF-8"?>
<resources>
  <properties>
    <property id="FallbackLat" type="float">32.0853</property>
    <property id="FallbackLon" type="float">34.7818</property>
    <property id="UseFahrenheit" type="boolean">false</property>
  </properties>
  <settings>
    <setting propertyKey="@Properties.FallbackLat" title="@Strings.FallbackLatTitle">
      <settingConfig type="numeric" min="-90" max="90" />
    </setting>
    <setting propertyKey="@Properties.FallbackLon" title="@Strings.FallbackLonTitle">
      <settingConfig type="numeric" min="-180" max="180" />
    </setting>
    <setting propertyKey="@Properties.UseFahrenheit" title="@Strings.UseFahrenheitTitle">
      <settingConfig type="boolean" />
    </setting>
  </settings>
</resources>
